.gameCenter-class {
    padding: 60px 20px;

    .gameCenter-title-class {
        font-size: 20px;

        .van-icon-wap-nav {
            float: right;
            color: #969799;
        }
    }
}